.tabs {
  max-width: 325px;
  display: flex;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 75px;

  .tab {
    color: #141414;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 2px;
    text-transform: uppercase;
    cursor: pointer;

    &--active {
      border-bottom: solid 5px #141414;
    }
  }
}
